# 是否是debug
IS-DEBUG=true

# mysql配置
MYSQL=root:123456@tcp(127.0.0.1:3306)/dc-wallet?parseTime=true&loc=Local&charset=utf8mb4&collation=utf8mb4_unicode_ci&tx_isolation=%27READ-COMMITTED%27&sql_mode=%27STRICT_TRANS_TABLES%2cNO_ZERO_IN_DATE%2cERROR_FOR_DIVISION_BY_ZERO%2cNO_AUTO_CREATE_USER%2cNO_ENGINE_SUBSTITUTION%27
MYSQL-IS-SHOW-SQL=false

# 私钥加密
AES-KEY=123

// eth rpc api
ETH_RPC=https://mainnet.infura.io/v3/0b359d2406a6492fb53883d46921d775

// btc rpc api
BTC-NETWORK-TYPE=btc-test
OMNI_RPC_HOST=http://127.0.0.1:18332
OMNI_RPC_USER=omni
OMNI_RPC_PWD=omni